*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  color: white;
  background-color: #000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,h2,h3{
  margin: 0;
}


.content{
  padding: 73px 0 40px;
  position: relative;
}

.article-1{
  margin-bottom: 90px;
}

.article__container{
  width: 97%;
  max-width: 440px;
  margin: 0 auto;
  @media (--el){
    max-width: 440px;
    margin-left: 43%;
  }
  @media (--l){
    margin-left: 30%;
  }
  @media (--m){
    margin: 0 auto;
  }
}

.article__title{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  white-space: nowrap;
  @media(--l){
    font-size: 24px;  
  }
  @media(--m){
    font-size: 20px;
    white-space: unset;
    line-height: 1.2;
  }
}

.article__text{
  line-height: 22px;
  margin-bottom: 18px;
}

.timeline-section{
  position: relative;
}

.logo{
  text-transform: uppercase;
  display: inline-block;
  margin-left: 140px;
  color: white;
  text-decoration: none;
  margin-bottom: 50px;
  @media (--m){
    margin-left: 25px;
  }
}

.time-line__static{
  padding-left: 48%;
  @media (--el){
    padding-left: 43%;
  }
  @media (--l){
    padding-left: 34%;
  }
  @media (--m){
    padding-left: 42%;
  }
}

.timeline-circle__wrapper{
  position: absolute;
  top: 50px;
  left: -400px;
  @media (--el){
    top: 179px;
  }
  @media (--l){
    left: -620px;
  }
  /*@media (--m){
    transform: rotate(-90deg);
    bottom: -270%;
    left: 68%;
  }*/
}

.timeline-circle{
  transition: .6s ease all;
  width: 950px;
  height: 950px;
  border-radius: 50%;
  border: 1px solid #fff;
  transform: rotate(0deg);
  @media (--el){
    height: 667px;
    width: 667px;
  }
  /*@media (--m){
    height: 900px;
    width: 900px;
  }*/
}

.timeline-circle__list{
  position: absolute;
  top: calc(50% - 10px);
  width: calc(50% + 40px);
  right: -40px;
  list-style-type: none;
  margin: 0;
}

.timeline-circle__item{
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  color: var(--text-color);
  transform-origin: 0 50%;
  text-transform: uppercase;
  &.pink, &:hover{
    color: #ffbfe8;
  }
}

.timeline-circle__item-inner{
  width: 40px;
  text-align: left;
}

.timeline-circle__item-1{
  transform: rotate(-36deg);
  right: -30px;
}
.timeline-circle__item-2{
  transform: rotate(-27deg);
}
.timeline-circle__item-3{
  transform: rotate(-18deg);
}
.timeline-circle__item-4{
  transform: rotate(-9deg);
}
.timeline-circle__item-5{
  transform: rotate(0deg);
}
.timeline-circle__item-6{
  transform: rotate(9deg);
}
.timeline-circle__item-7{
  transform: rotate(18deg);
}
.timeline-circle__item-8{
  transform: rotate(27deg);
}
.timeline-circle__item-9{
  transform: rotate(36deg);
}

.timeline__text{
  max-width: 373px;
  font-size: 40px;
  line-height: 46px;
  font-weight: 600;
  color: #ffd7f1;
  margin-bottom: 55px;
  @media(--l){
    margin-bottom: 100px;
  }
  @media(--m){
    margin-bottom: 180px;
    font-size: 20px;
    max-width: 200px;
  }
}

@keyframes animate {
  to {
    background-image: linear-gradient( to right, rgb(255,175,227) 0%, rgb(250,44,176) 100%);
  }
}

.timeline__title{
  position: relative;
  font-size: 240px;
  font-weight: bold;
  line-height: .8;
  background: linear-gradient(to right,#fa2caf,#c12ac6);
  background-clip: text;
  color: transparent;
  margin-bottom: 50px;
  &:after{
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient( to right, rgb(255,175,227) 0%, rgb(250,44,176) 100%);
    width: 217px;
    transition: .7s ease all;
    height: 13px;
    bottom: 3px;
    left: -250px;
    z-index: 99;
  }
  &.animated{
    &:after{
      background: rgb(255,175,227);
      animation: animate 1.2s ease-in 1 forwards;
    }
  }
  @media (--el){
    font-size: 200px;
    line-height: 1.05;
    &:after{
      width: 167px;
      left: -200px;
      bottom: 30px;
    }
  }
  @media (--l){
    font-size: 120px;
    &:after{
      width: 60px;
      height: 10px;
      left: -80px;
      bottom: 15px;
    }
  }
  @media (--m){
    font-size: 60px;
    margin-left: 40px;
    &:after{
      width: 40px;
      height: 7px;
      left: -50px;
      bottom: 8px;

    }
  }

}

.timeline__decr{
  line-height: 30px;
  max-width: 365px;
  margin-bottom: 330px;
}

.sandwich{
  position: absolute;
  outline: none;
  top: 36px;
  right: 151px;
  width: 34px;
  height: 30px;
  z-index: 9992;
  background: transparent;
  border: none;
  cursor: pointer;
  height: 30px;
  &.is {
    &-active {
      .sandwich__line {
        background: #000;
        &--top {
          top: 10px;
          transform: rotate(45deg);
        }
        &--middle { opacity: 0; }
        &--middle2 { opacity: 0; }
        &--bottom {
          top: 12px;
          transform: rotate(-45deg);
        }
      }
    }
  }
  @media(--l){
    top: 1px;
  }

  @media(--m){
    right: 25px;
  }

}

.sandwich__line{
  position: absolute;
  transition: .3s ease all;
  width: 30px;
  height: 2px;
  background: white;
  &--top { top: 0; }
    &--middle { top: 9px; }
    &--middle2 { top: 18px; }
    &--bottom { top: 27px; }
}

.sandwich__line--bottom{
  margin-bottom: 0;
}

.main-nav{
  position: absolute;
  display: none;
  z-index: 999;
  top: 0;
  right: 3px;
  padding: 230px 0 365px;
  background: #fff;
  width: 330px;
  &.active{
    display: block;
  }
  @media (--l){
    top: -20px;
  }
}

.main-nav__list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}

.main-nav__link{
  text-align: center;
  color: black;
  transition: .3s ease;
  display: block;
  text-decoration: none;
  padding: 25px 0;
  font-weight: 600;
  text-transform: capitalize;
  &.active, &:hover{
    color: var(--pink);
  }
}

.btn{
  text-transform: uppercase;
  color: white;
  background: #000;
  height: 50px;
  line-height: 50px;
  transition: .3 ease all;
  cursor: pointer;
  padding: 0 30px;
  border: 1px solid transparent;
  margin: 0 auto;
  display: block;
  &:hover{
    color: black;
    background: #fff;
    border: 1px solid #000;
  }
}

